section{
	width: 100%;
	height: auto;
}

.thumbnail-form{
	width: 70%;
	margin: auto;
	
	/* 전이가 일어날 속성값을 정의 */ 
	transition-property: height; 
	/* 전이가 발생되는 시간 명시 */ 
	transition-duration: 0.7s; /* 1000밀리초와 같다 */

}
.thumbnail {
  height: 430px;
  width: 330px;
  float: left;
  margin:50px 50px 50px 50px;
  border: solid 2px white;
  border-radius:10px; 
} 

.nonActive{
	display:none;
}
p{
	text-align : left;
	font-size: 20px;
	padding-top: 12px;
}
/* 검색창 스타일 */
input:focus {
    outline: none;
}
.search{
	width: 600px;
	margin: auto;
}
input::placeholder {
    color: white;
}
input#keyword{
	width: 300px;
    height: 50px;
    background-color: transparent; 
    text-decoration: none;
    border: none;
    border-bottom: solid 3px white;
    font-size: 30px;
   	color: white;
}
.fa-search{
	color: white;
}


/* 이미지 스타일 */
.gallery-img{
	width: 330px;
	height: 245px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.gallery-caption{
	padding-left: 24px;
}

option{
	background-color: gray;
}

select{
	appearance:none;
	outline: none;
	width: 100px;
	height: 53px;
	font-size: 25px;
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: solid;
}
